<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SBB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">로그인</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
  <form th:action method="post" th:object="${questionForm}">
    <div class="alert alert-danger" role="alert"
         th:if="${#fields.hasAnyErrors()}">
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
    </div>

    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text" id="subject" th:field="*{subject}" name="subject" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">제목</label>
      <textarea type="text" id="content" th:field="*{content}" name="content" rows="10" class="form-control"></textarea>
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary">

  </form>
</div>

</body>
</html>